{% extends 'base.twig' %}
{% block content %}

<div class="view" data-namespace="prod-category">
    <main class="{{ body_class }}">

        <section class="cat-head grid">
            <div class="container">
                <h1>{{ category.name }}</h1>
                {{ category.description }}
            </div>
        </section>

        <section class="cat-listing grid">
            <div class="container">
                {% for prod in products %}
                    <div class="prod-item">
                        <a class="img-wrap" href="{{ prod.permalink }}">
                            <img src="{{ prod.thumbnail }}" alt="{{ prod.post_title }}">
                        </a>
                        <div class="prod-meta">
                            <a class="prod-title" href="{{ prod.permalink }}">
                                <h3>{{ prod.post_title }}</h3>
                                <span>{{ prod.short_desc }}</span>
                            </a>
                            <div class="prod-price">
                                <span>{{ prod._price }}€</span>
                            </div>
                            <div class="addToCart">
                                Ajouter au panier (+)
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>

    </main>
</div>

{% endblock content %}