{% extends 'base.twig' %}
{% block content %}

<div class="view" data-namespace="front-page">
    <main class="{{ body_class }}">

      {% set datas = page.get_field('content_home') %}

      <section class="home-news grid">
        <div class="container">
          {#<div class="news-bloc">
            Actus
          </div>#}
        </div>
      </section>

      <section class="home-about grid">
        <div class="container">
          <h1>{{ datas.title }}</h1>
          <div class="wrapper">
            <div class="img-wrap">
              <img src="{{ datas.photo.url }}" alt="{{ datas.photo.alt }}">
            </div>
            <div class="about-content">
              {{ datas.desc|tagtohtml }}
            </div>
          </div>
        </div>
      </section>
    </main>
</div>

{% endblock %}