{% extends 'base.twig' %}
{% block content %}

<div class="view" data-namespace="single-product">
    <main class="{{ body_class }}">

        <section class="prod-main grid">
            <div class="container">
                <div class="wrap">
                    <div class="prod-image">
                        <div class="img-wrap">
                            <img src="{{ product.thumbnail }}" alt="{{ post.post_title }}">
                        </div>
                    </div>
                    <div class="prod-description">
                        
                        <h1>{{ post.post_title }}</h1>
                        <p>{{ post.post_content }}</p>

                        {% if product_attributes.poids %}
                            <div class="attr">
                                <span class="attr-name">Poids :</span>
                            </div>
                            {{ product_attributes.poids }}
                        {% endif %}

                        {% if product_attributes.volume %}
                            <div class="attr">
                                <span class="attr-name">Volume :</span>
                            </div>
                            {{ product_attributes.volume }}
                        {% endif %}
    
                        <div class="prod-cart">
                            {% do action('woocommerce_single_product_summary') %}
                            {% do action('woocommerce_after_single_product') %}
                        </div>
                    </div>
                </div>
                
            </div>
        </section>

    </main>
</div>

{% endblock content %}