{% extends 'base.twig' %}
{% block content %}

<div class="view" data-namespace="yoga">
	<main class="{{ body_class }}">

        {% set content = page.get_field('content_yoga') %}

        <section class="yoga-head grid">
            {% set datas = content.entry %}
            <div class="container">
                <h1>{{ page.post_title }}</h1>
                <div class="wrap">
                    <div class="left">
                        {{ datas.text_left|tagtohtml }}
                    </div>
                    <div class="right">
                        {{ datas.text_right|tagtohtml }}
                    </div>
                </div>
            </div>
        </section>

        <section class="yoga-about grid">
            {% set datas = content.about %}
            <div class="container">
                <div class="top">
                    <div class="left">
                        <div class="content">
                            {{ datas.text_left|tagtohtml }}
                        </div>
                    </div>
                    <div class="right">
                        <div class="content">
                            {{ datas.text_right|tagtohtml }}
                        </div>
                    </div>
                </div>
                <div class="bot">
                    <div class="desc one">
                        <div class="content">
                            {{ datas.bloc_1|tagtohtml }}
                        </div>
                    </div>
                    <div class="desc two">
                        <div class="content">
                            {{ datas.bloc_2|tagtohtml }}
                        </div>
                    </div>
                    <div class="desc three">
                        <div class="content">
                            {{ datas.bloc_3|tagtohtml }}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="yoga-contact grid">
            {% set datas = content.contact %}
            <div class="container">
                <div class="content">
                    {{ datas.text|tagtohtml }}
                    <a class="btn btn--secondary" href="{{ datas.link.url }}"><span>{{ datas.link.title }}</span></a>
                </div>
            </div>
        </section>

	</main>
</div>

{% endblock %}